body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#services {
  background-color: #e2edff;
}
#contact {
  background-color: #000b76;
  color: white;
  padding-bottom: 3em;
}
#contact a {
  color: white;
  text-align: center;
}

section {
  padding-top: 5rem;
}
