/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

/* Styles */
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 60vmax;

}
/* Navbar */
.custom-nav span{
    color: blue;
    font-size: 1.4rem;
    margin-left: 0.4em;
}
#navbarNav .navbar-nav .nav-item .nav-link{
    color: purple;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 2.4em;
}
.sign-up-button{
    background-color: lightsalmon;
    color: white;
    border: none;
    border-radius: 2em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}
/* Body Heading */
.body-heading{
    margin-top: 16em;
}
.body-heading h2{
    font-weight: 600;
    color: salmon;
}
.body-heading h3{
    font-weight: 400;
}
.body-heading p{
    font-weight: 300;
}
.btn-readMore{
    background-color: salmon;
    border: none;
    border-radius: 5em;
    margin-top: 2em;
}
.btn-readMore a{
    display: inline-block;
    color: white;
    text-decoration: none;   
}

/* Register Page Styles */
.register-form{
  background-color: whitesmoke;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 2.5em;
}
.register-form h2{
    text-align: center;
    padding-bottom: 1.2em;
}
.register-form a{
    text-align: center;
    margin-left: 8em;
   font-weight: 400;
}
.register-form .my-button .btn{
    background-color: salmon;
    border: none;
    border-radius: 5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    width: 10em;
    font-weight: 500;
}

/* Responsive Navbar */
/* max-width : 992px adalah Navbar akan melebara jika di ukuran device 992px keatas atau versi pc/laptop */
@media screen and (max-width: 992px){
   body{
       background-size: 28em;
     object-position: center;
   }
    .custom-nav{
        margin-top: -1.5em;
    }
    .sign-up-button{
        width: 6em;

    }
    .body-heading{
        text-align: center;
        margin-top: 20em;
    }
}
